<div class="container">
  <div class="card border-primary mt-3">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Holders</th>
            <th scope="col">Buy</th>
            <th scope="col">Name</th>
            <th scope="col">Created</th>
            <th scope="col">Defined</th>
            <th scope="col">Last</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let token of tokens$ |async">
            <th scope="row">{{token.holders}}</th>
            <td>({{token.isBuyable}}</td>
            <td>({{token.symbol}}) - {{token.name}}</td>
            <td><a [href]="'https://etherscan.io/tx/' + token.log.transactionHash">
                Open </a>
            </td>
            <td><a [href]="'https://www.defined.fi/eth/' + token.liquidityData.address">
                Open</a>
            </td>
            <td>{{token.time | date: 'HH:mm (dd)'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>